.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  
  background-color: darkred;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: green;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #bed4d3;
  width: 0%;
}
