body {
  background: #151A2D;
}

.header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0px;
  left: 0px;
  background: #1F2A40;
}

.progresionBar {
  position: fixed;
  top: 50px;
  left: 0px;
  height: 4px;
  width: 100%;
  background: #bb8fc4;
}

.progresionContainer {
  position: fixed;
  top: 50px;
  left: 0px;
  height: 4px;
  width: 100%;
  background: purple;
}